export(dageneral)
export(daimf)
export(da)
export(daif)
export(dai)
export(ismonotone)
export(cw_gig, cw_gamma, cw_constant, cw_mass)

importFrom("stats", "rchisq", "rgamma", "rnorm", "runif")
importFrom("matlib", "inv")
importFrom("MASS", "mvrnorm")
importFrom("GeneralizedHyperbolic", "rgig")
importFrom("LaplacesDemon", "rinvwishart")
importFrom("matrixNormal", "rmatnorm")
